<div class="row">

    <form class="form-horizontal span12">


        <fieldset>

            <legend>Pet Details</legend>
            <div id="backbtn">
                <a href="/">Back</a>
            </div>
            <br/>
            <div class="row">
                <div id="carousel" class="carousel slide">
                    <div class="carousel-inner">
				
	                    <div class="item active">
		                    <img src="<%= DefaultPicture === null ? 'pics/generic.jpg' : 'pics/' + DefaultPicture %>">
	                    </div>
					
	                    <div class="item">
		                    <img src="http://placehold.it/600x400&amp;text=Fade+effect">
	                    </div>
					
                    </div>
                    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="well">

                    <div class="control-group">
                        <label class="control-label">Name:</label>

                        <div class="controls">
                            <span><%= !name ? 'N/A' : name %></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Age:</label>

                        <div class="controls">
                            <span><%= !age ? 'N/A' : age %></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="country" class="control-label">Country:</label>

                        <div class="controls">
                            <span><%= !country ? 'N/A' : country %></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Region:</label>

                        <div class="controls">
                            <span><%= !region ? 'N/A' : region %></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">size:</label>

                        <div class="controls">
                            <span><%= !size ? 'N/A' : size %></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">details:</label>

                        <div class="controls">
                            <textarea id="description" readonly name="description" class="span6" rows="6"><%= details %></textarea>
                        </div>
                    </div>

                </div>
            </div>

        </fieldset>
    </form>
    <div id="backbtn">
        <a href="/">Back</a>
    </div>
</div>


